.App {
  max-width: 1406px;

  margin: 0 auto;
  padding: 0 20px;
  /* text-align: center; */
}

.App.Dark {
  background-color: #000000;
}

.Container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1120px) {
  .Container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: 750px;
  }
}

// @media (max-width: 767px) {
//   .Container {
//     max-width: 730px;
//   }
// }

// @media (max-width: 730px) {
//   .Container {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

/////////////////////////////////////

.Pagination {
  display: flex;
  width: fit-content;

  margin-bottom: 97px;
}

@media (max-width: 730px) {
  .Pagination {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.PaginationPage {
  width: 39px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-right: none;
  color: black;
  background: inherit;
  &:first-of-type {
    border-radius: 8px 0 0 8px;
    cursor: pointer;
  }
  &:last-child {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid;
    cursor: pointer;
  }
  &:only-child {
    border-radius: 8px;
  }
  &:hover {
    background: #ededed;
    color: black;
    border-color: black;
  }
  &:disabled {
    border-color: #b3b3b3;
    color: #b3b3b3;

    &:hover {
      cursor: auto;
      background: inherit;
    }
  }
  &--dark {
    border: 1px solid white;
    color: white;
    border-right: none;

    &:hover {
      background: #464646;
      color: white;
      border-color: white;
    }
    &:disabled {
      border-color: #4c4c4c;
      color: #4c4c4c;
    }
  }
  &.PaginationPageWithActive {
    background: black;
    color: white;
    border-color: black;
    &:hover {
      cursor: auto;
      background: black;
      color: white;
      border-color: black;
    }
    &--dark {
      background: white;
      color: black;
      border-color: white;
      &:hover {
        background: white;
        color: black;
        border-color: white;
      }
    }
  }
}
